<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0,
    maximum-scale=1.0, minimum-scale=1.0">
    <title>Portafolio - Palace Producciones</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/briefcase.css') }}"
    />
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <link rel="shortcut icon" href="/static/img/Logo.png">
    <link rel="stylesheet" href="/static/css/popup.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>


    <header>
        <img src="/static/img/Logo.png" alt="Logo del sitio web">

        <!-- Menú -->
        <nav>
            <ul>
                <li><a href="#inicio">INICIO</a></li>
                <li><a href="briefcase.html" class="active-link">PORTAFOLIO</a></li>
                <li><a href="#contacto">CONTACTO</a></li>
                <li><a href="/templates/login.html">INICIAR SESIÓN</a></li>
            </ul>
        </nav>
    </header>
    <!-- El contenido de la página va aquí -->

    <!-- Esta es la imagen de fondo -->
    <section class="background-image">
    </section>


    </ul>
    </nav>

    </div>

    </header>

    <section> <!--   Tarjetas-->
        <div class="cards">
            <br><br>

            <h1 style="font-size: 30px; font-family: 'serif'; text-align: center;">
                Creando Magia Audiovisual
            </h1>

        </div>
        <div class="container-card">
            <div class="card">
                <figure>
                    <img src="/static/img/axe.jpg">
                </figure>
                <div class="contenido-card">
                    <h3>AXE</h3>
                    <p>Capturado por Palace Productions.
                        <br>
                        #AxeConfidence #PalaceProductions 📸🔝
                        <br>
                        <br>
                        <!-- INICIO POPUP -->
                        <a href="#modal1" class="btn-open-popup btn-open-popup_1">Ver más</a>
                        <div class="overlay" id="popup"></div>
                    <div class="container-all" id="modal1">
                        <div class="popup">
                            <div class="img_popup img_popup_1" id="popup1"></div>
                            <div class="container-text">
                                <h1>Lorem ipsum dolor sit amet, consectetur.</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam esse illum
                                    exercitationem
                                    perferendis accusamus, possimus sed molestiae
                                    accusantium necessitatibus neque sit aspernatur</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus
                                    facere, sequi. Beatae recusandae, officiis sapiente amet quod vero est vel.
                                </p>
                                <div class="heart-btn" data-image-id="1" style="width: 230px; margin-left: 10px">
                                    <div class="content">
                                        <span class="heart"></span>
                                        <span class="like"></span>
                                        <span class="numb" id="like-count">0</span>
                                    </div>
                                </div>
                                <div class="container" style="margin-right: 95px; margin-left: 95px;">
                                    <div class="rating">
                                        <input type="radio" id="star1" name="clr1" style="--c:#ff9933">
                                        <input type="radio" id="star2" name="clr1" style="--c:#ff9933">
                                        <input type="radio" id="star3" name="clr1" style="--c:#ff9933">
                                        <input type="radio" id="star4" name="clr1" style="--c:#ff9933">
                                        <input type="radio" id="star5" name="clr1" style="--c:#ff9933">
                                    </div>
                                </div>
                                <br><br><br>
                                <div class="rating-result">
                                    <span>Calificación actual: <span id="rating-value">0</span></span>
                                    <span>Promedio: <span id="average-rating">0.0</span></span>
                                </div>
                            </div>
                            <a href="#" class="btn-close-popup">X</a>
                        </div>
                    </div>

                    <!-- FIN POPUP -->
                    <strong></strong>
                    </p>



                </div>
            </div>


            <br>
            <br>

            <div class="card">
                <figure>
                    <img src="/static/img/clubcolombia.jpeg">
                </figure>
                <div class="contenido-card">
                    <h3>CLUB COLOMBIA</h3>
                    <p>Capturado por Palace Productions.
                        <br>

                        #ClubColombia #PalaceProductions 📷🔝
                        <br>
                        <br>
                        <strong></strong>
                    </p>
                    <!-- INICIO POPUP -->
                    <a href="#modal2" class="btn-open-popup btn-open-popup_2">Ver más</a>
                    <div class="container-all" id="modal2">
                        <div class="popup">
                            <div class="img_popup img_popup_2"></div>
                            <div class="container-text">
                                <h1>Lorem ipsum dolor sit amet, consectetur.</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam esse illum
                                    exercitationem
                                    perferendis accusamus, possimus sed molestiae
                                    accusantium necessitatibus neque sit aspernatur</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus
                                    facere, sequi. Beatae recusandae, officiis sapiente amet quod vero est vel.
                                </p>
                                <div class="heart-btn" data-image-id="2" style="width: 230px; margin-left: 10px">
                                    <div class="content">
                                        <span class="heart"></span>
                                        <span class="like"></span>
                                        <span class="numb" id="like-count">0</span>
                                    </div>
                                </div>
                                <div class="container" style="margin-right: 95px; margin-left: 95px;">
                                    <div class="rating">
                                        <input type="radio" name="clr1" style="--c:#ff9933">
                                        <input type="radio" name="clr1" style="--c:#ff9933">
                                        <input type="radio" name="clr1" style="--c:#ff9933">
                                        <input type="radio" name="clr1" style="--c:#ff9933">
                                        <input type="radio" name="clr1" style="--c:#ff9933">
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="btn-close-popup">X</a>
                        </div>
                    </div>

                    <!-- FIN POPUP -->
                </div>
            </div>
            <br>
            <br>

            <div class="card">
                <figure>
                    <img src="/static/img/copaagua.jpeg">
                </figure>
                <div class="contenido-card">
                    <h3>COPA</h3>
                    <p>Capturado por Palace Productions.
                        <br>

                        #PalaceProductions 📷🔝
                        <br>
                        <br>
                        <strong></strong>
                    </p>
                    <!-- INICIO POPUP -->
                    <a href="#modal3" class="btn-open-popup btn-open-popup_3">Ver más</a>
                    <div class="container-all" id="modal3">
                        <div class="popup">
                            <div class="img_popup img_popup_3"></div>
                            <div class="container-text">
                                <h1>Lorem ipsum dolor sit amet, consectetur.</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam esse illum
                                    exercitationem
                                    perferendis accusamus, possimus sed molestiae
                                    accusantium necessitatibus neque sit aspernatur</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus
                                    facere, sequi. Beatae recusandae, officiis sapiente amet quod vero est vel.
                                </p>
                                <div class="heart-btn" data-image-id="3" style="width: 230px; margin-left: 10px">
                                    <div class="content">
                                        <span class="heart"></span>
                                        <span class="like"></span>
                                        <span class="numb" id="like-count">0</span>
                                    </div>
                                </div>
                                <div class="container" style="margin-right: 95px; margin-left: 95px;">
                                    <div class="rating">
                                        <input type="radio" name="clr1" style="--c:#ff9933">
                                        <input type="radio" name="clr1" style="--c:#ff9933">
                                        <input type="radio" name="clr1" style="--c:#ff9933">
                                        <input type="radio" name="clr1" style="--c:#ff9933">
                                        <input type="radio" name="clr1" style="--c:#ff9933">
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="btn-close-popup">X</a>
                        </div>
                    </div>

                    <!-- FIN POPUP -->
                </div>
            </div>
            <br>
            <br>

            <div class="card">
                <figure>
                    <img src="/static/img/copasyvino.jpeg">
                </figure>
                <div class="contenido-card">
                    <h3>DON SIMON</h3>
                    <p>Capturado por Palace Productions.
                        <br>
                        #DonSimon #PalaceProductions 📷🔝
                        <br>
                        <br>
                        <strong></strong>
                    </p>
                    <!-- INICIO POPUP -->
                    <a href="#modal4" class="btn-open-popup btn-open-popup_4">Ver más</a>
                    <div class="container-all" id="modal4">
                        <div class="popup">
                            <div class="img_popup img_popup_4"></div>
                            <div class="container-text">
                                <h1>Lorem ipsum dolor sit amet, consectetur.</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam esse illum
                                    exercitationem
                                    perferendis accusamus, possimus sed molestiae
                                    accusantium necessitatibus neque sit aspernatur</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus
                                    facere, sequi. Beatae recusandae, officiis sapiente amet quod vero est vel.
                                </p>
                                <div class="heart-btn" data-image-id="4" style="width: 230px; margin-left: 10px">
                                    <div class="content">
                                        <span class="heart"></span>
                                        <span class="like"></span>
                                        <span class="numb" id="like-count">0</span>
                                    </div>
                                </div>
                                <div class="container" style="margin-right: 95px; margin-left: 95px;">
                                    <div class="rating">
                                        <input type="radio" name="clr1" style="--c:#ff9933">
                                        <input type="radio" name="clr1" style="--c:#ff9933">
                                        <input type="radio" name="clr1" style="--c:#ff9933">
                                        <input type="radio" name="clr1" style="--c:#ff9933">
                                        <input type="radio" name="clr1" style="--c:#ff9933">
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="btn-close-popup">X</a>
                        </div>
                    </div>

                    <!-- FIN POPUP -->
                </div>
            </div>
        </div>

    </section>




    <br>
    <section> <!--   Tarjetas-->
        <div class="cards">
            <br><br>


        </div>
        <div class="container-card">
            <div class="card">
                <figure>
                    <img src="/static/img/carte.jpg">
                </figure>
                <div class="contenido-card">
                    <h3>CARTE DIOR</h3>
                    <p>Capturado por Palace Productions.
                        <br>
                        #CarteDiorSabor #PalaceProductions 📸🔝
                        <br>
                        <br>
                        <!-- INICIO POPUP -->
                        <a href="#modal5" class="btn-open-popup btn-open-popup_5">Ver más</a>
                    <div class="container-all" id="modal5">
                        <div class="popup">
                            <div class="img_popup img_popup_5"></div>
                            <div class="container-text">
                                <h1>Lorem ipsum dolor sit amet, consectetur.</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam esse illum
                                    exercitationem
                                    perferendis accusamus, possimus sed molestiae
                                    accusantium necessitatibus neque sit aspernatur</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus
                                    facere, sequi. Beatae recusandae, officiis sapiente amet quod vero est vel.
                                </p>
                                <div class="heart-btn" data-image-id="5" style="width: 230px; margin-left: 10px">
                                    <div class="content">
                                        <span class="heart"></span>
                                        <span class="like"></span>
                                        <span class="numb" id="like-count">0</span>
                                    </div>
                                </div>
                                <div class="container" style="margin-right: 95px; margin-left: 95px;">
                                    <div class="rating">
                                        <input type="radio" name="clr1" style="--c:#ff9933">
                                        <input type="radio" name="clr1" style="--c:#ff9933">
                                        <input type="radio" name="clr1" style="--c:#ff9933">
                                        <input type="radio" name="clr1" style="--c:#ff9933">
                                        <input type="radio" name="clr1" style="--c:#ff9933">
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="btn-close-popup">X</a>
                        </div>
                    </div>

                    <!-- FIN POPUP -->
                    <strong></strong>
                    </p>



                </div>
            </div>


            <br>
            <br>

            <div class="card">
                <figure>
                    <img src="/static/img/axe_2.png">
                </figure>
                <div class="contenido-card">
                    <h3>AXE</h3>
                    <p>Capturado por Palace Productions.
                        <br>

                        #AxeConfidence #PalaceProductions 📷🔝
                        <br>
                        <br>
                        <strong></strong>
                    </p>
                    <!-- INICIO POPUP -->
                    <a href="#modal6" class="btn-open-popup btn-open-popup_6">Ver más</a>
                    <div class="container-all" id="modal6">
                        <div class="popup">
                            <div class="img_popup img_popup_6"></div>
                            <div class="container-text">
                                <h1>Lorem ipsum dolor sit amet, consectetur.</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam esse illum
                                    exercitationem
                                    perferendis accusamus, possimus sed molestiae
                                    accusantium necessitatibus neque sit aspernatur</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus
                                    facere, sequi. Beatae recusandae, officiis sapiente amet quod vero est vel.
                                </p>
                                <div class="heart-btn" data-image-id="6" style="width: 230px; margin-left: 10px">
                                    <div class="content">
                                        <span class="heart"></span>
                                        <span class="like"></span>
                                        <span class="numb" id="like-count">0</span>
                                    </div>
                                </div>
                                <div class="container" style="margin-right: 95px; margin-left: 95px;">
                                    <div class="rating">
                                        <input type="radio" name="clr1" style="--c:#ff9933">
                                        <input type="radio" name="clr1" style="--c:#ff9933">
                                        <input type="radio" name="clr1" style="--c:#ff9933">
                                        <input type="radio" name="clr1" style="--c:#ff9933">
                                        <input type="radio" name="clr1" style="--c:#ff9933">
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="btn-close-popup">X</a>
                        </div>
                    </div>

                    <!-- FIN POPUP -->
                </div>
            </div>
            <br>
            <br>

            <div class="card">
                <figure>
                    <img src="/static/img/creativa.jpg">
                </figure>
                <div class="contenido-card">
                    <h3>VAQUERA</h3>
                    <p>Capturado por Palace Productions.
                        <br>

                        #EspirituVaquero #PalaceProductions 📷🔝
                        <br>
                        <br>
                        <strong></strong>
                    </p>
                    <!-- INICIO POPUP -->
                    <a href="#modal7" class="btn-open-popup btn-open-popup_7">Ver más</a>
                    <div class="container-all" id="modal7">
                        <div class="popup">
                            <div class="img_popup img_popup_7"></div>
                            <div class="container-text">
                                <h1>Lorem ipsum dolor sit amet, consectetur.</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam esse illum
                                    exercitationem
                                    perferendis accusamus, possimus sed molestiae
                                    accusantium necessitatibus neque sit aspernatur</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus
                                    facere, sequi. Beatae recusandae, officiis sapiente amet quod vero est vel.
                                </p>
                                <div class="heart-btn" data-image-id="7" style="width: 230px; margin-left: 10px">
                                    <div class="content">
                                        <span class="heart"></span>
                                        <span class="like"></span>
                                        <span class="numb" id="like-count">0</span>
                                    </div>
                                </div>
                                <div class="container" style="margin-right: 95px; margin-left: 95px;">
                                    <div class="rating">
                                        <input type="radio" name="clr1" style="--c:#ff9933">
                                        <input type="radio" name="clr1" style="--c:#ff9933">
                                        <input type="radio" name="clr1" style="--c:#ff9933">
                                        <input type="radio" name="clr1" style="--c:#ff9933">
                                        <input type="radio" name="clr1" style="--c:#ff9933">
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="btn-close-popup">X</a>
                        </div>
                    </div>

                    <!-- FIN POPUP -->
                </div>
            </div>
            <br>
            <br>

            <div class="card">
                <figure>
                    <img src="/static/img/stephane.png">
                </figure>
                <div class="contenido-card">
                    <h3>STEPHANE ROLLAND</h3>
                    <p>Capturado por Palace Productions.
                        <br>
                        #StephaneStylo #PalaceProductions 📷🔝
                        <br>
                        <br>
                        <strong></strong>
                    </p>
                    <!-- INICIO POPUP -->
                    <a href="#modal8" class="btn-open-popup btn-open-popup_8">Ver más</a>
                    <div class="container-all" id="modal8">
                        <div class="popup">
                            <div class="img_popup img_popup_8"></div>
                            <div class="container-text">
                                <h1>Lorem ipsum dolor sit amet, consectetur.</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam esse illum
                                    exercitationem
                                    perferendis accusamus, possimus sed molestiae
                                    accusantium necessitatibus neque sit aspernatur</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus
                                    facere, sequi. Beatae recusandae, officiis sapiente amet quod vero est vel.
                                </p>
                                <div class="heart-btn" data-image-id="8" style="width: 230px; margin-left: 10px">
                                    <div class="content">
                                        <span class="heart"></span>
                                        <span class="like"></span>
                                        <span class="numb" id="like-count">0</span>
                                    </div>
                                </div>
                                <div class="container" style="margin-right: 95px; margin-left: 95px;">
                                    <div class="rating">
                                        <input type="radio" name="clr1" style="--c:#ff9933">
                                        <input type="radio" name="clr1" style="--c:#ff9933">
                                        <input type="radio" name="clr1" style="--c:#ff9933">
                                        <input type="radio" name="clr1" style="--c:#ff9933">
                                        <input type="radio" name="clr1" style="--c:#ff9933">
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="btn-close-popup">X</a>
                        </div>
                    </div>

                    <!-- FIN POPUP -->
                </div>
            </div>
        </div>

    </section>


    <br><br><br>

    <br>
    <section> <!--   Tarjetas-->
        <div class="cards">

        </div>
        <div class="container-card">

            <div class="card">
                <figure>
                    <img src="/static/img/CREDITOS8.jpg">
                </figure>
                <div class="contenido-card">
                    <h3>CORAZON AHUMADO</h3>
                    <p>Capturado por Palace Productions.
                        <br>
                        #CorazónGris #PalaceProductions 📷🔝
                        <br>
                        <br>
                        <strong></strong>
                    </p>
                    <!-- INICIO POPUP -->
                    <a href="#modal9" class="btn-open-popup btn-open-popup_9">Ver más</a>
                    <div class="container-all" id="modal9">
                        <div class="popup">
                            <div class="img_popup img_popup_9"></div>
                            <div class="container-text">
                                <h1>Lorem ipsum dolor sit amet, consectetur.</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam esse illum
                                    exercitationem
                                    perferendis accusamus, possimus sed molestiae
                                    accusantium necessitatibus neque sit aspernatur</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus
                                    facere, sequi. Beatae recusandae, officiis sapiente amet quod vero est vel.
                                </p>
                                <div class="heart-btn" data-image-id="9" style="width: 230px; margin-left: 10px">
                                    <div class="content">
                                        <span class="heart"></span>
                                        <span class="like"></span>
                                        <span class="numb" id="like-count">0</span>
                                    </div>
                                </div>
                                <div class="container" style="margin-right: 95px; margin-left: 95px;">
                                    <div class="rating">
                                        <input type="radio" name="clr1" style="--c:#ff9933">
                                        <input type="radio" name="clr1" style="--c:#ff9933">
                                        <input type="radio" name="clr1" style="--c:#ff9933">
                                        <input type="radio" name="clr1" style="--c:#ff9933">
                                        <input type="radio" name="clr1" style="--c:#ff9933">
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="btn-close-popup">X</a>
                        </div>
                    </div>

                    <!-- FIN POPUP -->
                </div>
            </div>
            <div class="card">
                <figure>
                    <img src="/static/img/CREDITOS3.jpg">
                </figure>
                <div class="contenido-card">
                    <h3>ROCK</h3>
                    <p>Capturado por Palace Productions.
                        <br>
                        #AlmaMusical #PalaceProductions 📷🔝
                        <br>
                        <br>
                        <strong></strong>
                    </p>
                    <!-- INICIO POPUP -->
                    <a href="#modal10" class="btn-open-popup btn-open-popup_10">Ver más</a>
                    <div class="container-all" id="modal10">
                        <div class="popup">
                            <div class="img_popup img_popup_10"></div>
                            <div class="container-text">
                                <h1>Lorem ipsum dolor sit amet, consectetur.</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam esse illum
                                    exercitationem
                                    perferendis accusamus, possimus sed molestiae
                                    accusantium necessitatibus neque sit aspernatur</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus
                                    facere, sequi. Beatae recusandae, officiis sapiente amet quod vero est vel.
                                </p>
                                <div class="heart-btn" data-image-id="10" style="width: 230px; margin-left: 10px">
                                    <div class="content">
                                        <span class="heart"></span>
                                        <span class="like"></span>
                                        <span class="numb" id="like-count">0</span>
                                    </div>
                                </div>
                                <div class="container" style="margin-right: 95px; margin-left: 95px;">
                                    <div class="rating">
                                        <input type="radio" name="clr1" style="--c:#ff9933">
                                        <input type="radio" name="clr1" style="--c:#ff9933">
                                        <input type="radio" name="clr1" style="--c:#ff9933">
                                        <input type="radio" name="clr1" style="--c:#ff9933">
                                        <input type="radio" name="clr1" style="--c:#ff9933">
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="btn-close-popup">X</a>
                        </div>
                    </div>

                    <!-- FIN POPUP -->
                </div>
            </div>
            <div class="card">
                <figure>
                    <img src="/static/img/gucci.png">
                </figure>
                <div class="contenido-card">
                    <h3>GUCCI</h3>
                    <p>Capturado por Palace Productions.
                        <br>
                        #GucciGang #PalaceProductions 📷🔝
                        <br>
                        <br>
                        <strong></strong>
                    </p>
                    <!-- INICIO POPUP -->
                    <a href="#modal12" class="btn-open-popup btn-open-popup_11">Ver más</a>
                    <div class="container-all" id="modal11">
                        <div class="popup">
                            <div class="img_popup img_popup_11"></div>
                            <div class="container-text">
                                <h1>Lorem ipsum dolor sit amet, consectetur.</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam esse illum
                                    exercitationem
                                    perferendis accusamus, possimus sed molestiae
                                    accusantium necessitatibus neque sit aspernatur</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus
                                    facere, sequi. Beatae recusandae, officiis sapiente amet quod vero est vel.
                                </p>
                                <div class="heart-btn" data-image-id="11" style="width: 230px; margin-left: 10px">
                                    <div class="content">
                                        <span class="heart"></span>
                                        <span class="like"></span>
                                        <span class="numb" id="like-count">0</span>
                                    </div>
                                </div>
                                <div class="container" style="margin-right: 95px; margin-left: 95px;">
                                    <div class="rating">
                                        <input type="radio" name="clr1" style="--c:#ff9933">
                                        <input type="radio" name="clr1" style="--c:#ff9933">
                                        <input type="radio" name="clr1" style="--c:#ff9933">
                                        <input type="radio" name="clr1" style="--c:#ff9933">
                                        <input type="radio" name="clr1" style="--c:#ff9933">
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="btn-close-popup">X</a>
                        </div>
                    </div>

                    <!-- FIN POPUP -->
                </div>
            </div>

            <div class="card">
                <figure>
                    <img src="/static/img/destello.jpg">
                </figure>
                <div class="contenido-card">
                    <h3>DESTELLO MAGICO</h3>
                    <p>Capturado por Palace Productions.
                        <br>
                        #BrilloMagico #PalaceProductions 📷🔝
                        <br>
                        <br>
                        <strong></strong>
                    </p>
                    <!-- INICIO POPUP -->
                    <a href="#modal12" class="btn-open-popup btn-open-popup_12">Ver más</a>
                    <div class="container-all" id="modal12">
                        <div class="popup">
                            <div class="img_popup img_popup_12"></div>
                            <div class="container-text">
                                <h1>Lorem ipsum dolor sit amet, consectetur.</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam esse illum
                                    exercitationem
                                    perferendis accusamus, possimus sed molestiae
                                    accusantium necessitatibus neque sit aspernatur</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus
                                    facere, sequi. Beatae recusandae, officiis sapiente amet quod vero est vel.
                                </p>
                                <div class="heart-btn" data-image-id="12" style="width: 230px; margin-left: 10px">
                                    <div class="content">
                                        <span class="heart"></span>
                                        <span class="like"></span>
                                        <span class="numb" id="like-count">0</span>
                                    </div>
                                </div>
                                <div class="container" style="margin-right: 95px; margin-left: 95px;">
                                    <div class="rating">
                                        <input type="radio" name="clr1" style="--c:#ff9933">
                                        <input type="radio" name="clr1" style="--c:#ff9933">
                                        <input type="radio" name="clr1" style="--c:#ff9933">
                                        <input type="radio" name="clr1" style="--c:#ff9933">
                                        <input type="radio" name="clr1" style="--c:#ff9933">
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="btn-close-popup">X</a>
                        </div>
                    </div>

                    <!-- FIN POPUP -->
                </div>
            </div>

        </div>

        <br>


    </section>


    <br><br><br>



    <!-- Pie de página -->
    <footer>
        <div class="footer-left">
            <a href="" target="_blank"><img src="/static/img/whatsapp-icon.avif" alt="Ícono de WhatsApp"></a>
        </div>
        <div class="footer-center">
            <a href="//https://www.facebook.com/PalaceProduciones" target="_blank"><img
                    src="/static/img/facebook-icon.png" alt="Ícono de Facebook">@PalaceProduciones</a>
            <a href="//https://www.instagram.com/palace_produciones" target="_blank"><img
                    src="/static/img/instagram-icon.png" alt="Ícono de Instagram">@palace_produciones</a>
            <a href="https://www.youtube.com/@producciones_palace" target="_blank"><img
                    src="/static/img/youtube-icon.png" alt="Ícono de YouTube">Palace Producciones JAL</a>
            <a href="https://www.twitter.com/producciones_palace" target="_blank"><img src="/static/img/x-icon.png"
                    alt="Ícono X">@produciones_palace</a>
        </div>
        <div class="footer-right">
            <img src="/static/img/palace_p.jpeg" alt="Logo de Palace Producciones">
        </div>
    </footer>

    <script>
        $(document).ready(function () {
            $(".content").click(function () {
                $(".content").toggleClass("heart-active")
                $(".like").toggleClass("heart-active")
                $(".heart").toggleClass("heart-active")
                $(".numb").toggleClass("heart-active")
            });
        });
    </script>
    <script src="/static/main.js"></script>


</body>

</html>