<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/img/Logo.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}"
    />
    <script src="https://kit.fontawesome.com/c9f5871d83.js" crossorigin="anonymous"></script>
    <title>Iniciar Sesión</title>

</head>

<body>

    <header class="header">

        <div class="search">

        </div>
    </header>
    <div class="background"></div>
    <section class="home">
        <div class="content">
            <a href="#" class="logo"></a>
            <h2>¡Bienvenido!</h2>
            <h3>Palace Productions</h3>
            <pre>"ELEVANDO EL ARTE AUDIOVISUAL A NUEVAS ALTURAS"</pre>
                    </div>

        <div class="login">
            <h2>Inicia sesión</h2>
            <div class="input">
                <input type="text" class="input1" placeholder="Correo electrónico" required>
                <i class="fa-solid fa-envelope"></i>
            </div>
            <div class="input">
                <input type="password" class="input1" placeholder="Contraseña" required>
                <i class="fa-solid fa-lock"></i>
            </div>
            <div class="check">
                <label> <input type="checkbox">Recordar</label>
                <a href="#">¿Olvido su contraseña?</a>
            </div>
            <div class="button">
                <button class="btn">Iniciar sesion</button>
            </div>
            <div class="sign-up">
                <p>¿No tienes una cuenta?</p>
                <a href="registro.html" style="margin-left: 10px;">Registrate</a>
            </div>

        </div>
    </section>

</body>

</html>